@page "/services"
@using System.Net.Http.Json
@inject HttpClient Http
@inject MetadataService MetadataService

<PageTitle>Services</PageTitle>

<h1 class="mt-5">Services</h1>

<div class="mt-3 mb-5">
    @if (services is null)
{
    <p>Loading...</p>
}
else
{
    <div class="row">
        @foreach (var s in services)
        {
            <div class="col-md-6 mb-3">
                <div class="card p-3">
                    <div class="d-flex align-items-center mb-3">
                        <i class="@s.icon larger mr-4 bg-accent text-dark px-2 py-1"></i>
                        <span class="larger px-2 fw-bold">@s.title</span>
                    </div>
                    <p>@s.description</p>

                    @if (s.subservices != null && s.subservices.Length > 0)
                    {
                        <ul class="list-group mt-3">
                            @foreach (var subservice in s.subservices)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span class="p-1">@subservice.name</span>
                                    <p class="p-1">@subservice.description</p>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        }
    </div>
}
</div>

@code {
    class Service
    {
        public int id { get; set; }
        public string? title { get; set; }
        public string? description { get; set; }
        public string? icon { get; set; } // New field for the icon
        public Subservice[]? subservices { get; set; } // New field for subservices
    }

    class Subservice
    {
        public string? name { get; set; }
        public string? description { get; set; }
    }

    Service[]? services;

    protected override async Task OnInitializedAsync()
    {
        MetadataService.SetPageMetadata(new PageMetadata
        {
            Title = "Services - VVG ONLINE",
            Description = "Digital consulting services to transform your business.",
            Keywords = "services, strategy, innovation, digital transformation",
            Image =
        "https://github.com/vvgonline/test.vvgonline.net/assets/images//twitter-cards/vvg-online-home-twitter-card.png?raw=true",

            OgType = "website",
            OgTitle = "Services - VVG ONLINE",
            OgDescription = "Digital consulting services to transform your business.",
            OgImage =
        "https://github.com/vvgonline/test.vvgonline.net/assets/images//twitter-cards/vvg-online-home-twitter-card.png?raw=true",
            OgUrl = "https://test.vvgonline.net/services",

            TwitterCard = "summary_large_image",
            TwitterSite = "@vvgonline",
            TwitterCreator = "@vvgonline",
            TwitterTitle = "Services - VVG ONLINE",
            TwitterDescription = "Digital consulting services to transform your business.",
            TwitterImage =
        "https://github.com/vvgonline/test.vvgonline.net/assets/images//twitter-cards/vvg-online-home-twitter-card.png?raw=true"
        });

        var doc = await Http.GetFromJsonAsync<ServiceDoc>("assets/data/services.json");
        services = doc?.services;
    }

    class ServiceDoc { public Service[]? services { get; set; } }
}